* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --card-title-border-color:#746615;
  --card-color-primary:#f7dd43;
  --card-bg-color:#1d1c19;
  --bg:url(./assets/bg-yellow.svg);
}
body.blue {
  --card-title-border-color:#338AF3;
  --card-color-primary:#338AF3;
  --card-bg-color:#202024;
  --bg:url(./assets/bg-blue.svg);
}
body.green {
  --card-title-border-color:#047C3F;
  --card-color-primary:#047C3F;
  --card-bg-color:#1A1F1B;
  --bg:url(./assets/bg-green.svg);
}

ul {
  list-style: none;
}

body {
  background-color: #121214;
  background-image:var(--bg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

body * {
  font-family: "Roboto", sans-serif;
}

#app {
  width: fit-content;
  margin:auto;
  padding-top: 52px;
}

#link {
    text-decoration : none;
}

header {
  /* margin-bottom: 10px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#logoQatar {
  height:250px;
  margin-bottom: 10px;
}
#tituloCalendario {
  height:26px;
  margin-bottom:32px;

}

#cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}


.card {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;
  border: 1px solid var(--card-title-border-color);
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;

  color:#f7dd43;
}



.card h2:hover{
  transform: scale(1.1);
}

.card h2 {
  transition: transform 0.3s;
}
.card{
  opacity: 0;
  animation: appear .2s forwards;

}
@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity:0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width:700px) {
  #cards {
    max-width: 670px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
